@font-face {
  font-family: main_font;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: ip_font;
  src: url(fonts/MYRIADPRO-BOLD.OTF);
}

#keys{
    display: grid;
    grid-template-columns: repeat(3, auto);   
    gap:0% 1.4rem;
    justify-content: center;
    padding-top: 0rem;
    width: 15rem;
    height: 20rem;
    overflow:hidden;
    position: relative;
    top:4rem;
}


body{
    background-color: black;
    overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.jpg') center/cover no-repeat;

  filter: blur(10px);
  z-index: -1;
}


.entry{
    justify-content: center;
    align-items: center;     
    text-align: center;
    font-family: main_font;
    color:white;
    display:flex;
    flex-direction: column;
    margin-top: 70px;
}

.lock_img{
    height: 1.7em;
    width: 1.4em;
}

.hint{
    font-size: 15px;
    font-family:main_font;
}

.indicator{
    display: flex;
    gap: 10px;
}

.indicators{
  display: inline-block;
  position: relative;
  top:1rem;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 50%;     
  background-color: transparent; 
  transition: background-color 0.3s ease; 
}

.round-button{
    border-radius: 50%;
    width: 3.9rem;
    height: 3.9rem;
    background-color:rgba(255, 255, 255, 0.167);
    color: white;
    border:none;
    transition: background-color 0.1s;
}

.spacer{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.number{
    font-size: 35px;
    font-family:ip_font;
}

.label{
    font-size: 9px;
    position: relative;
    top:-6px;
    font-family:main_font;
}

.enter_pass{
    font-family: main_font;
    font-size: 1.3rem;
}
